<template name="login">
    <style>
        body {
            overflow: hidden;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col l4 offset-l4 s10 offset-s1" style="height: 80vh">
                <div class="card-panel transparent z-depth-0" style="margin-top: 12.5vh">
                    <h1><i class="material-icons white-text center" style="font-size: 72px; width: 100%;">lock_outline</i></h1>
                    <h3 class="center white-text">Accès au site</h3>
                    <p class="grey-text text-lighten-1 center">CSeries fonctionne avec un système d'invitation : vous
                        devez demander une invitation, attendre qu'elle soit accepté et ainsi vous aurez accès au
                        site.</p>
                    <a class="btn blue darken-2 waves-effect login-facebook" style="width: 100%; margin: 10px 0">Demander une
                        invitation</a>
                    <a class="btn red darken-2 waves-effect login-facebook" style="width: 100%; margin: 10px 0">J'ai déjà un compte</a>
                </div>
            </div>
        </div>
    </div>
</template>