<template name="login">
    <style>
        body {
            overflow: hidden;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col s6 valign-wrapper" style="height: 80vh">
                <div class="card-panel grey darken-4 z-depth-0" style="width: 100%">
                    <h4 class="white-text center">Je n'ai pas de compte</h4>
                    <p class="grey-text text-lighten-2 center">CSeries fonctionne avec un système d'invitation : vous devez
                        demander une invitation, attendre qu'elle soit accepté et ainsi vous aurez accès au site.</p>
                    <a class="btn blue darken-2 waves-effect login-facebook" style="width: 100%">Demander une invitation</a>
                </div>
            </div>
            <div class="col s6 valign-wrapper" style="height: 80vh">
                <div class="card-panel grey darken-4 z-depth-0" style="width: 100%">
                    <h4 class="white-text center">J'ai un compte</h4>
                    <p class="grey-text text-lighten-2 center">Si vous êtes déjà inscrit sur CSeries et que votre invitation a été accepté, vous pouvez vous connecter ici en cliquant simplement sur ce boutton.</p>
                    <a class="btn red darken-2 waves-effect login-facebook" style="width: 100%">Me connecter</a>
                </div>
            </div>
        </div>
    </div>
</template>