<template name="layout">
    <div class="grey darken-4" style="min-height: 100vh">
        <header class="navbar navbar-default" role="navigation">
            <nav class="grey darken-4 z-depth-0">
                <div class="nav-wrapper">
                    {{#if currentUser}}
                        {{#if currentUser}}
                            <ul id="nav-mobile" class="left">
                                <li class="hide-on-large-only"><a href=""><i class="material-icons">menu</i></a></li>
                                <li class="hide-on-med-and-down"><a href="/">Séries</a></li>
                                <li class="hide-on-med-and-down"><a href="/users">Membres en ligne</a></li>
                                {{#if currentUser.profile.permission}}
                                    <li class="hide-on-med-and-down"><a href="/admin">Administration</a></li>
                                {{/if}}
                            </ul>
                        {{else}}
                            <ul id="nav-mobile" class="left">
                                <li class="hide-on-large-only"><a href=""><i class="material-icons">navigate_before</i></a></li>
                            </ul>
                        {{/if}}
                    {{/if}}
                    <a href="/" class="brand-logo center"><img src="/img/logo.png" style="height: 40px; margin-top: 12px"/></a>
                    {{#if currentUser}}
                        <ul id="nav-mobile" class="right">
                            <li><a href="#notifications"><i class="material-icons">add_alert</i></a></li>
                            <li class="hide-on-med-and-down"><a><img
                                    src="//graph.facebook.com/{{ currentUser.services.facebook.id }}/picture?type=large"
                                    style="height: 32px; border-radius: 100%; margin-top: 15px; margin-right: -20px"></a>
                            </li>
                            <li class="hide-on-med-and-down"><a style="font-weight: 600;">{{currentUser.username}}</a>
                            </li>
                            <li class="hide-on-med-and-down"><a href="/logout"><i class="material-icons">close</i></a>
                            </li>
                        </ul>
                    {{/if}}
                </div>
            </nav>
        </header>
        <main>
            <div id="main">
                {{> yield}}
            </div>
        </main>

        <div id="notifications" class="modal grey darken-4">
            <div class="modal-content">
                <h4 class="white-text">Invitations à regarder
                    <a class="btn btn-flat green-text right waves-effect text-lighten-2" href="#inviteSomeone"><i class="material-icons right">mail_outline</i>
                        Inviter quelqu'un</a></h4>
                <p class="grey-text text-lighten-2">Vos demandes d'invitations à regarder un film ou une série
                    s'affichent ici.</p>
                {{#each invitations}}
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="https://lorempixel.com/150/150/nature/6">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p><b>Clément</b> vous invite à regarder <b>Camping 3</b>.</p>
                                <p style="font-size: 12px">Envoyé il y a 30 secondes.</p>
                            </div>
                            <div class="card-action">
                                <a class="green-text" href="#">Accepter l'invitation</a>
                                <a class="red-text" href="#">Refuser l'invitation</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="modal-footer grey darken-4">
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Fermer</a>
            </div>
        </div>


        <div id="inviteSomeone" class="modal grey darken-4 animated bounceIn">
            <div class="modal-content">
                <h4 class="white-text">Inviter une personne</h4>
                <p class="grey-text text-lighten-2">Entrez le prénom et/ou le nom de la personne concerné</p>
                <div class="input-field col s12">
                    <input id="name" type="text" class="validate">
                    <label for="name">Utilisateur à inviter</label>
                </div>
            </div>
            <div class="modal-footer grey darken-4">
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Fermer</a>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('.modal').modal();
            });
        </script>

    </div>
</template>