<template name="loading">

    <div class="row">
        <div class="col l2 offset-l5 valign-wrapper" style="height: 100vh">
            <div class="row">
                <div class="col s8 offset-l2">
                    <img src="/img/logo.png" style="width: 100%">
                </div>
                <div class="col s6 offset-l3">
                    <div class="progress" style="background: #444444">
                        <div class="indeterminate" style="background: #fff"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>