body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

#iron-router-progress {
    background-color : #fff;
    box-shadow       : 0 0 5px #fff;
}

.btn:hover, .btn-large:hover {
    background-color: rgba(43, 187, 173, 0);
}

.grey, .darken-4 {
    background-color: #15152b !important;
}