<template name="homeSeries">
    <div class="row">
        {{#each serie in seriesList}}
            <div class="col animated fadeInUp"
                 style="animation-delay: {{ math.mul @index 0.05 }}s; padding: 0; margin: 0;">
                <div class="card grey hoverable darken-3 waves-effect" style="margin: 0; border-radius: 0">
                    <div class="card-image">
                        <img class="activator" src="https://image.tmdb.org/t/p/w185/{{ serie.cover }}">
                        <span class="card-title">{{ serie.name }}</span>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</template>