<template name="homeSeries">
    {{#if isEmpty favoritesList }}
        <div class="container">
            <div class="row">
                <h4 class="grey-text center" style="margin-top: 30px">ma liste.</h4>
                {{#each favorite in favoritesList}}
                    <div class="col l2 m2 s4 animated fadeInUp" data-id="{{ formatId favorite._id }}" style="animation-delay: {{ math.mul @index 0.05 }}s; padding: 0; margin: 0;">
                        <div class="card grey darken-4 z-depth-0 waves-effect" id="serie_redirect" data-id="{{ formatId favorite._id }}" style="margin: 0; border-radius: 0">
                            <div class="card-image" data-id="{{ formatId favorite._id }}">
                                <img class="activator" data-id="{{ formatId favorite._id }}" src="https://image.tmdb.org/t/p/w185/{{ favorite.cover }}">
                                <span class="card-title" data-id="{{ formatId favorite._id }}" style="background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);">{{ favorite.name }}</span>
                                <span class="card-title center" data-id="{{ formatId favorite._id }}" style="padding: 0 24px;">
                                {{ starNote favorite.rating }}
                                    <strong style="font-size: 12px; padding-top: -5px">{{ favorite.voters }}</strong> <i class="material-icons white-text" style="font-size: 12px">equalizer</i>
                            </span>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <div class="row">
        {{#if isEmpty favoritesList }}
        {{else}}
            <h4 class="grey-text center" style="margin-top: 30px">toutes les séries.</h4>
        {{/if}}
        {{#each serie in seriesList}}
            <div class="col l1 s6 animated fadeInUp" style="animation-delay: {{ math.mul @index 0.05 }}s; padding: 0; margin: 0;">
                <a href="/serie/{{ formatId serie._id }}">
                    <div class="card grey darken-4 z-depth-0" style="margin: 0; border-radius: 0">
                        <div class="card-image">
                            <div style="position: absolute; padding: 10px">
                                <a class="btn btn-floating transparent" id="addToList"><i class="material-icons">star</i></a>
                            </div>
                            <img class="activator" src="https://image.tmdb.org/t/p/w185/{{ serie.cover }}">
                            <span class="card-title truncate" style="background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 30%); width: 100%; font-size: 100%; font-weight: bold">{{ serie.name }} <strong style="font-size: 12px; padding-top: -5px" class="white-text">{{ serie.voters }}</strong> <i class="material-icons white-text" style="font-size: 12px">equalizer</i></span>

                            <div class="progress" style="background: #2e2e2e">
                                <div class="determinate" style="width: 40%; background: #fff"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
</template>